boto3
dask-ml
scikit-learn==1.2.2
git+https://github.com/digitalearthpacific/dep-tools.git@add-s3-writer
--find-links 'https://github.com/auspatious/datacube_compute/releases/tag/0.0.3' 'datacube_compute'
